<html>
  <title>Garage Opener</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3mobile.css">
  <body>
    <div class="w3-container">
      <h1>Garage Opener</h1>
      <p>Distance: {{ distance }} cm</p>
      {% if garage_open %}
      <p>Garage is open</p>
      {% else %}
      <p>Garage is closed</p>
      {% endif %}

    </div>

    <div class="w3-container w3-display-middle">
      <form action="" method="post">
	<button class="w3-button w3-round w3-grey w3-xxlarge" type="submit">Open</button>
      </form>
    </div>
  </body>
</html>
